In [16]:
import json
import math
import pandas as pd

tf_idf = pd.read_csv("dataset/dataset_TF_IDF_ok_2", sep='\t')
tf_idf.head()

,00,000,000000,0000000,00000000,000001,0001,000123,0001234,00014622,...,zucker,zuckermann,zuleyka,zuleyka_silver,zvtp,zw,zx,zz,zzz,label.1
0,2.447046,2.443484,10.148688,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.355095,0.000000,1.423808,0.0,1.0
1,2.351196,2.223511,8.931207,0.0,0.0,0.0,5.635225,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.710190,0.000000,1.423808,0.0,1.0
2,2.357614,2.248393,8.931207,0.0,0.0,0.0,5.635225,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.065285,3.846757,1.423808,0.0,1.0
3,2.353778,2.226529,8.931207,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.355095,4.971862,2.847615,0.0,1.0
4,2.375568,2.275624,8.931207,0.0,0.0,0.0,9.821157,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.355095,3.846757,2.847615,0.0,1.0